.conteiner-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500vw;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    overflow-x: hidden;
}

.features {
    background-image: linear-gradient(to bottom, #000024, #19506f, #36d9e6);
}

.feature {
    display: flex;
    flex-basis: 80%;
    height: 10%;
    margin: 0 auto;
    background-color: rgb(47, 134, 206);
    border-radius: 20px;
    transition: 1s;
}

.feature:nth-child(odd) {
    transform: translateX(-100vw);
}

.feature:nth-child(even) {
    transform: translateX(100vw);
}

.feature.active {
    transform: translateX(0);
}

.feature__img {
    position: relative;
    flex-basis: 20%;
    background-color: rgb(228, 74, 74);
    border-radius: 20px 0 0 20px;
}

.feature__img i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8vw;
}

.feature__describe-conteiner {
    flex-basis: 80%;
    padding: 10px;
}

.feature__title {
    margin: 0 0 15px;
    font-size: 7vw;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;

}

.feature__describe {
    width: 80%;
    margin: 0 auto;
    line-height: 7vw;
    font-size: 4vw;
}

@media screen and (min-width: 320px) and (orientation: landscape) {

    .conteiner-features {
        height: 150vw;
    }

    .feature {
        height: 23%;
        flex-basis: 45%;
    }

    .feature__title {
        margin: 0 0 20px;
        font-size: 3vw;
    }

    .feature__img i {
        font-size: 6vw;
    }

    .feature__describe {
        line-height: 4vw;
        font-size: 3vw;
    }
}

@media (min-width: 490px) and (orientation: portrait) {

    .feature {
        height: 12%;
        max-height: 350px;
        flex-basis: 65%;
    }

    .feature__describe-conteiner {
        padding: 15px;
    }
}

@media (min-width: 768px) {
    .conteiner-features {
        height: 170vw;
    }

    .feature {
        height: 19%;
        flex-basis: 38%;
    }

    .feature__title {
        margin: 0 0 20px;
        font-size: 3vw;
    }

    .feature__img i {
        font-size: 6vw;
    }

    .feature__describe {
        font-size: 2.5vw;
        line-height: 4vw;
    }
}

@media (min-width: 1024px) {

    .conteiner-features {
        height: 1675px;
        max-width: 1356px;
        padding: 0 10%;
    }

    .feature {
        flex-basis: 40%;
        height: 17%;
        max-width: 432px;
    }

    .feature__title {
        margin: 15px 0 20px;
        font-size: 30px;
    }

    .feature__img i {
        font-size: 50px;
    }

    .feature__describe {
        font-size: 21px;
        line-height: 38px;
    }
}