.recommend {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 220vw;
    background-image: linear-gradient(to bottom, #000024, #19506f, #36d9e6);
}

.recommend__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 55%;
    max-height: 421px;
    margin: 30px 0;
    overflow: hidden;
}

.siema {
    position: relative;
    height: 40px;
}

.recommend__btn-conteiner {
    position: relative;
    width: auto;
}

.recommendation {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 5%;
    background-color: rgb(16, 77, 95);
    border-radius: 20px;
    transition: 1s;
    list-style: none;
    overflow: hidden;
}

.recommendation__background {
    position: absolute;
    color: rgba(37, 121, 133, 0.15);
    transition: 1s;
}

.first-bolt {
    top: 1%;
    left: -100%;
    font-size: 100px;
    transform: rotateY(180deg);
}

.first-bolt.active {
    left: 1%;
}

.second-bolt {
    top: 5%;
    right: -100%;
    font-size: 300px;
}

.second-bolt.active {
    right: -5%;
}

.recommend__btn {
    position: absolute;
    top: 0;
    height: 40px;
    width: 40px;
    font-size: 25px;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-left {
    left: 30%;
}

.btn-right {
    left: 60%;
}

.recommendation__photo {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70px;
    height: 70px;
    border-top: 4px solid rgb(78, 78, 78);
    border-radius: 50%;
    background-image: url('../img/man.png');
    background-size: cover;
    background-position: center;
    background-color: rgb(78, 78, 78);
}

.recommendation__describe {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    line-height: 24px;
}

@media (min-width: 320px) and (orientation: landscape) {
    .recommend {
        height: 100vw;
    }

    .recommend__btn {
        font-size: 32px;
    }
}

@media (min-width: 390px) and (orientation: portrait) {
    .recommend__btn {
        font-size: 35px;
    }

    .recommend {
        height: 180vw;
        max-height: 875px;
    }
}

@media (min-width: 490px) and (orientation: portrait) {
    .recommend__list {
        height: 40%;
    }
}

@media (min-width: 630px) {

    .recommend__list {
        height: 40%;
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .recommend {
        height: 120vw;
    }

    .recommend__list {
        height: 50%;
    }

    .recommendation {
        width: 80%;
        margin: 0 10%;
    }

    .recommend__btn {
        width: 70px;
        height: 70px;
        font-size: 50px;
    }

    .recommendation__describe {
        top: 33%;
        font-size: 21px;
        line-height: 40px;
        letter-spacing: 1px;
    }
}

@media (min-width: 851px) {
    .recommend {
        height: 85vw;
        min-height: 900px;
    }

    .recommend__list {
        height: 50%;
    }

    .recommendation {
        width: 80%;
        margin: 0 10%;
    }

    .recommend__btn {
        width: 70px;
        height: 70px;
        font-size: 50px;
    }

    .recommendation__describe {
        top: 33%;
        font-size: 21px;
        line-height: 40px;
        letter-spacing: 1px;
    }
}

@media (min-width: 1024px) {

    .recommend {
        height: 55vw;
    }

    .recommend__list {
        height: 45%;
    }

    .recommendation {
        width: 66%;
        margin: 0 calc(17% + 5px) 0 17%;
    }

    .recommendation__describe {
        top: 40%;
        left: 50%;
    }

    .recommend__btn {
        width: 70px;
        height: 70px;
        font-size: 40px;
    }

    .btn-left {
        left: 40%;
    }

    .btn-right {
        left: 55%;
    }
}